:root {
    --lightblue: #B7E7EE;
    --bluegray: #546A6E;
    --white: #fff;
}

/*entire page*/
* {
    font-family: Arial, Helvetica, sans-serif;
    scroll: overflow;
    
}
/*banner section*/
.Chase {
    display: flex;
    position: sticky;
    background-color: var(--lightblue);
    color: white;
    justify-content: space-between;
    flex-flow: row wrap;
}
/*Picture of my dog and me*/
.Chase img {
    border: 5px solid var(--white);
    border-radius: 25px;
    width: 250px;
    margin: 10px;
    position: absolute;
    top: 10px;
    z-index: -1;
    }
/*Header name*/
.name {
    font-style: normal;
    font-size: 500%;
    font-family: "Dancing Script", cursive;
    position: relative;
    left: 275px;
    top: 70px;

}
/*Nav Bar section*/
.Juniper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    bottom: 5px;
    right: 10px;
}

.Juniper a {
    padding: 8px;
}

/* Navbar links pseudo element */
a:hover {
    font-style: italic;
}

/*Image between banner and main content*/
.Divider{
    width: 100%;
    height: 25px;
    position: relative;
    border-top: 4px solid var(--bluegray);
    border-bottom: var(--bluegray);
}

/* Creating flexboxes for entire main body */
#main-content {
    display: flex;
    flex-direction: column;
}

/*About Me Section*/
/*Contact Section*/
.card1,
.card3 {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-flow: row, nowrap;
    justify-content: space-between;
    align-items: baseline;
    border: 4px solid var(--bluegray);
}

/*Portfolio Section*/
.card2 {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-flow: row, nowrap;
    align-items: baseline;
    border: 4px solid var(--bluegray);
}

/* Portfolio content */
.Work-Images {
    display: flex;
    align-items: inline;
    justify-content: space-between;
    position:relative;
    padding: 15px;
    left: 10px;
}

/* Photos for Portfolio section */
#Photo1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 400px;
    height: 500%;
    padding: 10px;
}

#Photo2,
#Photo3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 200px;
    height: 200%;
    padding: 15px;
}

/*About me title*/
/*Portfolio title*/
/*Contact title*/
.card1 h2,
.card2 h2,
.card3 h2 {
    font-size: 200%;
    color: var(--bluegray);
    padding-left: 10px;
    padding-right: 25px;
    border-right: 4px solid var(--bluegray);
}

/*About Me content*/
/*Contact content*/
.card1 p,
.card3 p {
    align-items: inline;
    flex: 1 1 auto;
    padding-left: 25px;
}

/* The banner is in position sticky, as I want it to stay at the top of the page once I have more content and the user scrolls down. This has created it to not respond to the below command, and I've tried a few methods from online as tips, but none seemed to work.

I also am unable to get the photos to wrap within the box when the width of the window shrinks
 */
 
@media screen and (max-width 768px) {
    body {
        width: 33.33%;
    }
    .Work-Images {
        width: 33.33%;
    }
}

 @media screen and (max-width 480px) {
    body {
        width: 50%;
    }
}
